<form action="/team_picker" method="POST">
  <div>
    <label for="names">Names</label>
    <textarea name="names"></textarea>
  </div>
  <div>
    <label for="names">Method</label>
    <input type="radio" name="method" value="team_count"> Team Count
    <input type="radio" name="method" value="per_team"> Number Per Team
  </div>
  <div>
    <label>Number</label>
    <input type="text" name="number" value="">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
